<div class = "boxarea">
<img src = "images/company.png">
<p>
    Woodworks, Ltd. has made a commitment to being your 
    no.1 Wood Parts Company by supplying you with the best 
    quality at the lowest prices on small wood turnings and 
    wood cut outs.  We started in a garage over 30 years ago 
    and thanks to customers like you and our great staff, 
    we are now in a 30,000 sf. building.</p>

    <p>We specialize in bulk pack bags of unfinished wood 
    parts. Quantities range from 1 to 5,000 depending on 
    the item you are ordering. Additional discounts may 
    also be available on large volume & case quantity 
    purchases.</p>

    <p>We carry the largest selection of quality craft, hobby, 
    and woodworking supplies. If you are looking for wood 
    parts, wood craft supplies, wood turnings, wood 
    stampings, hardware, wire or jute, then Woodworks, Ltd. 
    is your source. If you have a craft project or need an 
    idea for a craft project, this is the place to visit. 
    From wood fruit and animals to balls, beads, shaker 
    pegs, dowels, dowel caps, stair plugs, doll making 
    supplies, pens, door hangers, toy wheels, and small 
    furniture parts, all at wholesale prices.</p>

    <p>We continually strive to bring you the very best in 
    customer service. So please, let us know how we can 
    help you. We always enjoy hearing your comments and 
    suggestions. Our office hours are 8:30am to 4:30pm CST 
    Monday thru Friday. (800) 722-0311</p>
</div>