<div class = "gallery_container">
<div class = "gallery">
    <img src = "images/img1.jpg">
    <img src = "images/img2.jpg">
    <img src = "images/img3.jpg">
    <img src = "images/img4.jpg">
    <img src = "images/img5.jpg">
    <img src = "images/img6.jpg">
    <img src = "images/img7.jpg">
    <img src = "images/img8.jpg">
    <img src = "images/img9.jpg">
    <img src = "images/img10.jpg">
    <img src = "images/img1.jpg">
    <img src = "images/img13.jpg">
</div>
</div>