body {
    background-color: black;
    margin: 2px 20px 2px 20px;
}
/* .wrapper {
    border: 1px solid green;
} */

.header #logo {
    margin-left: 300px;
    height: 150px;
    width:600px;
    display: block ;  
}

nav {
    background-color: green;
    width: auto;;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;       
}

nav li {
    display: inline-block;
    padding: 6px;
}
nav li a{    
    text-decoration: none; 
    color: #E8E3DA;
    font-size: 18px; 
}
nav li p {
    text-decoration: none; 
    color: #E8E3DA;
    font-size: 18px; 
}

nav li a:hover{
    border: 1px solid #E8E3DA;
    font-size: 24px;
}

.footer { 

    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    color: white;
    text-align: center;
 }
/* home page */

#container {
    margin: 100px;
    background-color: green;
}
#container p {
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    color: white;
}

#container  #content {
    padding: 10px;
    float: right;
}

#carouselExampleControls {
    
    width: 650px;
}

#carousel-control-prev-icon {
    margin-left :300px;
}

.carousel-inner img {
    height: 400px;
    width: 600px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 500px;
    border: 4px solid white;
    margin-left: 69px;
}

#content {
    background-color: green;
    margin: 100px;
}

#content p {
    /* float: right; */
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    color: white;
}

#modal {
    display: none;
    position: fixed;
    width: 431px;
    height: 200px;
    top: 30%;
    left: 34%;
    box-shadow: 4px 4px rgb(248, 247, 247);
    background:grey;
}
#modal p {
    padding: 10px;
    width: 80%;
    height: 20%;
    font-size: 25px;
    text-align: center;
}

#modal button {
    float: right;
}

/* contact page */

.container2 {
    background-color: green;
    margin: 100px;
    
}
#data {
    margin-left :100px;
}
#contactus  {
    padding: 10px;
    color:white;
}
label {
    color: white;
    font-size:15px;
    padding: 12px;
}

#inquiry {
    height: 200px;
    width: 200px; 
}

#submit {
    margin-left: 100px;
}

#data1 p {
    margin: 20px;
    margin-left: 110px;
    width: 830px;
    text-align: center;
    color: white
}

/* about page */

.boxarea {
    background-color: green;
    margin: 100px;
}
img {
    margin: 20px;
    margin-left: 110px;
    height: 190px;
    /* width: 830px; */
    text-align: center;
}
.boxarea p {
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    color: white;
}

/* product page */

.gallery_container {
    background-color: green;
    margin: 100px;
    
}
.gallery img {
    height: 200px;
    width: 200px;
}